<a href="https://colab.research.google.com/github/etorres09311/Python-Assignments/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples in Python
A tuple in Python is an ordered, immutable sequence of elements. Tuples are defined using parentheses and can contain elements of different data types, including other tuples. Once a tuple is created, its elements cannot be modified, added, or removed. This immutability makes tuples suitable for representing fixed collections of data.

## Objective
- Comprehend the application of tuples
- Understand how a tuple uses a memory
- Apply various operations on tuples

## Prerequisite

- Lists
- Decision and loops
- Input functions
- Python literals
- Programming variables


## What do you need to complete this exercise?

You can perform this exercise in any Python IDE, including JupyterLab or Google Colab.

# 1. Exercising tuples

1a) Take five inputs from an user and save it in a tuple called ```my_tuple```

In [1]:
input1 = input("Enter a first number: ")
input2 = input("Enter a second number: ")
input3 = input("Enter a third number: ")
input4 = input("Enter a fourth number: ")
input5 = input("Enter a fifth number: ")
my_tuple=(input1,input2,input3,input4,input5)
print(my_tuple)

Enter a first number: 1
Enter a second number: 2
Enter a third number: 3
Enter a fourth number: 4
Enter a fifth number: 5
('1', '2', '3', '4', '5')

1b. How do you assign a single element in a tuple?

In [5]:
one_element_tuple=(5,)
print(one_element_tuple)

(5,)

1c. ```my_tuple = (1,2,3,4,3,2,1,2,3,5,4,3,2,1)```
Count the repeated integers and print the result on the console.

In [10]:
my_tuple=(1,2,3,4,3,2,1,2,3,5,4,3,2,1)
count1=my_tuple.count(1)
print("Total number of '1' is: ",count1)
count2=my_tuple.count(2)
print("Total number of '2' is: ",count2)
count3=my_tuple.count(3)
print("Total number of '3' is: ",count3)
count4=my_tuple.count(4)
print("Total number of '4' is: ",count4)
count5=my_tuple.count(5)
print("Total number of '5' is: ",count5)

Total number of '1' is:  3
Total number of '2' is:  4
Total number of '3' is:  4
Total number of '4' is:  2
Total number of '5' is:  1

1d. ```my_tuple = my_tuple + my_tuple```


Proof that ```my_tuple``` in part c is different than the ```my_tuple``` in part d.

In [11]:
my_tuple=(1,2,3,4,3,2,1,2,3,5,4,3,2,1)
my_tuple=my_tuple+my_tuple
print(my_tuple)

(1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1, 1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1)

1e. Explain why the following operations aren’t legal for
the tuple. Answer without using the Python.
```
x = (1,2,3,4)
x.append(1)
x[1] = "hello"
del x[2]
```

It's not legal because once a tuple is created, you cannot add extra items into the tuple or remove them.

# 2. Packing and unpacking tuples

Python permits tuples to appear on the left side of an assignment operator, in which case variables in the tuple receive the corresponding values from the tuple on the right side of the assignment operator. Here’s a simple example:

In [12]:
(one, two, three, four) =  (1, 2, 3, 4)

2a. What is the data type of each variable?

Each data type is an "int",

2b. Python has an extended unpacking feature, allowing an element marked with * to absorb any number of elements not matching the other elements. For example,

In [13]:
x = (1, 2, 3, 4)
a, b, *c = x
a, b, c

(1, 2, [3, 4])

2c. What will be the result of ```a, *b, c = x```?

In [14]:
x=(1,2,3,4)
a,*b,c=x
a,b,c

(1, [2, 3], 4)

# 3. Memory management

```
my_x = [100,200,300,400]
my_y = (200,300,400,500)

```
Discuss how memory addresses are assigned to each index of the list and the tuple. Pay attention to new addresses & re-used addresses.

| Index | my_x | my_x |
|   -   |  -   |  -   |
|   0   |  100 |  200 |
|   1   |  200 |  300 |
|   2   |  300 |  400 |
|   3   |  400 |  500 |

In reality, there are only 5 "new" memory addresses, as some integers are reused in both the list and tuple. For example, my_x(1)would equal the same address as my_y(0).

## Challenges

Please describe the challenges you faced during the exercise.

The hardest practice problem was the last one for me. I thought I had a decent grasp at the idea of new and re-used addresses, but it ended up being difficult for me to complete.